# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
generated_plugin_registrant.dart

# Visual Studio Code
.vscode/
.history/

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# Flutter/Dart
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter/
pubspec.lock

# Others
*.log
*.DS_Store
*.swp

# Android
android/.gradle/
android/captures/
android/app/key.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Flutter/ephemeral/
